<?xml version="1.0"?>
<launch>

<!-- lancio il nodo main	
  <node name="main_core" pkg="wrapper_planner" type="main_core" /> --> 

<!-- lancio rviz 
  <node name="rviz" pkg="rviz" type="rviz" />-->

	 <!-- Run the map server -->
  <arg name="map_file" default="$(find wrapper_planner)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- <node name="main_core" pkg="wrapper_planner" type="main_core" /> -->
</launch>
